.background{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    margin:0;
    overflow: scroll;
    background-image: url("/images/desert-360.png");
    background-size: cover;
    background-position: center
}
