.content {
    font-family: Arial, sans-serif;
    padding: 16px;
    background-color: #79c5c5;
}

.app_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.get_pro {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

.input_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.prompt_input {
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    display: inline-block;
}

.style_options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.add_image_btn{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.style_select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.generate_btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
}
